* {
    margin: 0;
    padding: 0;
    /* overflow:hidden; */
  }
  
  body {
    display:inline-block;
    overflow-x: hidden
  }
  
  @font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf'); ;
  }
  
  @font-face {
    font-family: 'Thin';
    src: url('../fonts/Vds-Thin.ttf');
  }
  
  i {
    color: #ffffff;
    font-size: 150px;
    padding: 30px;
  }
  
  .container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0, #16DB65, #000000);
  }
  
  .titleHeaderDiv {
    padding: 4px;
  }
  
  .titleHeader {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Anton';
    text-transform: uppercase;
    letter-spacing: 15px;
  }
  
  .subTitleHeader {
    color: white;
    text-align: center;
    margin-top: 30vh;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Anton';
    text-shadow: 10px 10px 10px black;
  }
  
  .paragrafoSubTitleHeader {
    color: white;
    text-align: center; 
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Thin';
    padding: 5px;
  }
  
  .divBtn {
    display: block;
    text-align: center;
    padding: 10vh;
  }
  
  .btnHeader {
    display: inline-block;
    background-color: #FFC600;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5em;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
  }
  
  .apresentacao {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0, #000000, #FFC600);
  }
  
  .produtos {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0, #120c56, #000000);  
  }
  
  .ferramentas {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0, white, white);
    
  }
  
  .ferramentas h1 {
    font-family: 'Anton';
    color: #050247;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
  }
  
  .tracking-in-expand {
      -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
      100% {
        opacity: 1;
      }
    }
    @keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
    
    